* {
  text-align: justify;
  text-align-last: center;
  font-family: "Roboto";
  background-color: black;
  color: white;
}

#whole{
  width: 50%;
  margin: auto;
}

.container {
  display: table
}

form{
  display:inline-block;
}

select{
  padding: 10px;
  font: inherit;
  border: thin solid blue;
  border-radius: 10px;
  background-color: gray;
  font-size: 15px;
  -webkit-appearance: none;
}

select option{
  clear: left;
  position: relative;
  left: 50%;
  right: 50%;
  text-align: center;
}

input:hover{
  background-color: lightgray;
}

input{
  border-radius: 10px;
  border: none;
  background-color: blue;
  color: black;
  padding: 10px;
  font-family: "Roboto";
}

button{
  text-align: center;
  position: relative;
  left: 50%;
  right: 50%;
}

.row {
  display: table-row;
}

.cell {
  padding: 20px 20px 20px 20px;
  display: table-cell;
  text-align: center;
}