* {
  text-align: center;
  font-family: "Roboto";
}

#whole{
  width: 50%;
  margin: auto;
}

.container {
  display: table
}

select{
  padding: 10px;
  font: inherit;
}

input{
  padding: 10px;
  font-family: "Roboto";
}

.row {
  display: table-row;
}

.cell {
  padding: 0px 20px 0px 20px;
  display: table-cell;
  text-align: center;
}